body {
    font-family: "arial", Helvetica Neue, Helvetica, sans-serif;
    color: rgb(39, 26, 26);
    background: #777;
    width: 960px;
    font-size: 18px;
}
#group {
    background: #ebebeb;
    border: 3px solid #777;
    text-align: center;
}
#aside {
    background: #ebebeb;
    border: 3px solid #777;
    float: right;
    text-align: center;
    padding: 150px;
    margin: 100px;

}
#foot {
    background: #ebebeb;
    border: 3px solid #777;
    clear: both;
    text-align: center;
}

#article {
    color: hsl(0, 0%, 92%);
    background: #777;
    text-align: center;
}
#head {
    color: #777;
    background: #ebebeb;
    border: 2px solid #777;
    font-weight: bold;
    text-align: center;
}
#para {
    color: #777;
    background: #ebebeb;
    border: 2px solid #777;
    text-align: center;
}
#sec1 {
    width: 495px;
    text-align: center;
    padding: 150px;
    margin: 100px;
}
#div {
    background: #777;
    text-align: center;
    padding: 150px;
    margin: 100px;

}
    